/* --------------------------------------- */
/* Removes/sets defaults */
* {
    box-sizing: border-box;
    margin: 0;
}
/* --------------------------------------- */


/* --------------------------------------- */
/* App container */
.age-calculator-app {
    width: 840px;
    background-color: var(--white);
    border-radius: 0.6em;
    border-bottom-right-radius: 7em !important;
    padding: 1.7em 1.7em;
}
/* --------------------------------------- */


/* --------------------------------------- */
/* Input section begins */
.app-input {
    display: flex;
    gap: 1em;
}
.app-input > * {
    display: flex;
    flex-direction: column;
}
.app-input > * > input {
    max-width: 7.8ch;
    padding: 0.5em 1ch;
    border-radius: 5px;
    border-color: var(--off-white);
    border-style: solid;
    cursor: pointer;
}
.app-input > * > input:is(:active, :focus){
    outline:none ;
    border: 2px solid var(--purple);
}
/* --------------------------------------- */
/* Removes the input arrows */
.app-input > * > input :is(
    ::-webkit-outer-spin-button,
    ::-webkit-inner-spin-button,
) {
/* Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.app-input > * > input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
/* --------------------------------------- */
/* Input section ends */
/* --------------------------------------- */


/* --------------------------------------- */
/* Submit button begins */
.app-submit {
    display: flex;
    justify-content: end;
    position: relative;
}
.app-submit:before {
    /* Creates a horizontal bar */
    content: "";
    border-top: 0.1em solid var(--off-white);
    margin: 0;
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: 1;
}
.app-submit > button {
    background-color: var(--purple);
    border-radius: 50%;
    padding: 1.8em;
    border: none;
    z-index: 2;
    cursor: pointer;
}
.app-submit > button:hover {
    filter: brightness(70%);
}
.app-submit > button:active{
    background-color: var(--off-black);
}
/* Submit button ends */
/* --------------------------------------- */