body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:beige;
}
section {
    display: grid;
    place-items: center;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin: 0.8rem;
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin: 0.5rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}